<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Define your API URL
            let apiURL = "http://127.0.0.1:8000";

            // Get all the navigation links
            var navLinks = document.querySelectorAll('.nav-link');

            // Add click event listener to each navigation link
            navLinks.forEach(function (link) {
                link.addEventListener('click', function () {
                    // Update the API URL when a navigation link is clicked
                    // You can customize this part based on your requirements
                    var linkValue = link.getAttribute('value');
                    var redirectLink = apiURL + '/' + linkValue;
                    // Perform any other actions you need to do on link click
                    window.location.href = redirectLink
                    // For demonstration purposes, let's log the updated API URL to the console
                    console.log("redirecting to ", redirectLink);
                });
            });
        });
    </script>
</head>
<body>
    <nav class="navbar navbar-expand-lg" style="background-color: #149BFC;">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">CSIA ONLINE</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" value = "login" >홈/로그인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" value = "counsel" >상담실</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" value = "bus" aria-current="page" >버스 체크인</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" value = "yaja" >야자 신청</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    {% block content %}{% endblock %}
</body>
</html>