<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <title>Schedule Setting</title>
    <style>
        .container {
            display: flex;
        }

        .left-half {
            width: 50%;
        }

        .right-half {
            width: 50%;
        }

        .schedule-table {
            width: 100%;
            border-collapse: collapse;
            margin-top: 20px;
        }

        .schedule-table th, .schedule-table td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
        }
    </style>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="container">
        <div class="left-half">
            <!-- Display current schedule dynamically in table format -->
            <table class="schedule-table">
                <thead>
                    <tr>
                        <th>Day</th>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>Monday</td>
                        <td>{{ current_schedule.Monday.period1 }}</td>
                        <td>{{ current_schedule.Monday.period2 }}</td>
                        <td>{{ current_schedule.Monday.period3 }}</td>
                    </tr>
                    <tr>
                        <td>Tuesday</td>
                        <td>{{ current_schedule.Tuesday.period1 }}</td>
                        <td>{{ current_schedule.Tuesday.period2 }}</td>
                        <td>{{ current_schedule.Tuesday.period3 }}</td>
                    </tr>
                    <tr>
                        <td>Wednesday</td>
                        <td>{{ current_schedule.Wednesday.period1 }}</td>
                        <td>{{ current_schedule.Wednesday.period2 }}</td>
                        <td>{{ current_schedule.Wednesday.period3 }}</td>
                    </tr>
                    <tr>
                        <td>Thursday</td>
                        <td>{{ current_schedule.Thursday.period1 }}</td>
                        <td>{{ current_schedule.Thursday.period2 }}</td>
                        <td>{{ current_schedule.Thursday.period3 }}</td>
                    </tr>
                </tbody>
            </table>
        
        <div class="right-half">
            <!-- Schedule Form -->
            <form id="scheduleForm">
                <label for="Monday">Monday</label>
                <table class="form-table">
                    <tr>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                    </tr>
                    <tr>
                        <td>
                            <label for="period1-Monday">Period 1:</label>
                            <select class="form-control form-control-lg" id="period1-Monday" name="period1-Monday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period1-Monday-others-detail" name="period1-Monday-others-detail" style="display: none;">
                            <br>
                        </td>
                        <td>
                            <label for="period2-Monday">Period 2:</label>
                            <select class="form-control form-control-lg" id="period2-Monday" name="period2-Monday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period2-Monday-others-detail" name="period2-Monday-others-detail" style="display: none;">
                            <br>
                        </td>
                        <td>
                            <label for="period3-Monday">Period 3:</label>
                            <select class="form-control form-control-lg" id="period3-Monday" name="period3-Monday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period3-Monday-others-detail" name="period3-Monday-others-detail" style="display: none;">
                            <br>
                        </td>
                    </tr>
                </table>
                <label for="Tuesday">Tuesday</label>
                <table class="form-table">
                    <tr>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                    </tr>
                    <tr>
                        <td>
                            <label for="period1-Tuesday">Period 1:</label>
                            <select class="form-control form-control-lg" id="period1-Tuesday" name="period1-Tuesday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period1-Tuesday-others-detail" name="period1-Tuesday-others-detail" style="display: none;">
                            <br>
                        </td>
                        <td>
                            <label for="period2-Tuesday">Period 2:</label>
                            <select class="form-control form-control-lg" id="period2-Tuesday" name="period2-Tuesday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period2-Tuesday-others-detail" name="period2-Tuesday-others-detail" style="display: none;">
                            <br>
                        </td>
                        <td>
                            <label for="period3-Tuesday">Period 3:</label>
                            <select class="form-control form-control-lg" id="period3-Tuesday" name="period3-Tuesday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period3-Tuesday-others-detail" name="period3-Tuesday-others-detail" style="display: none;">
                            <br>
                        </td>
                    </tr>
                </table>
                <label for="Wednesday">Wednesday</label>
                <table class="form-table">
                    <tr>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                    </tr>
                    <tr>
                        <td>
                            <label for="period1-Wednesday">Period 1:</label>
                            <select class="form-control form-control-lg" id="period1-Wednesday" name="period1-Wednesday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period1-Wednesday-others-detail" name="period1-Wednesday-others-detail" style="display: none;">
                            <br>
                        </td>
                        <td>
                            <label for="period2-Wednesday">Period 2:</label>
                            <select class="form-control form-control-lg" id="period2-Wednesday" name="period2-Wednesday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period2-Wednesday-others-detail" name="period2-Wednesday-others-detail" style="display: none;">
                            <br>
                        </td>
                        <td>
                            <label for="period3-Wednesday">Period 3:</label>
                            <select class="form-control form-control-lg" id="period3-Wednesday" name="period3-Wednesday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period3-Wednesday-others-detail" name="period3-Wednesday-others-detail" style="display: none;">
                            <br>
                        </td>
                    </tr>
                </table>

                <!-- Continue the structure for Thursday -->
                <label for="Thursday">Thursday</label>
                <table class="form-table">
                    <tr>
                        <th>Period 1</th>
                        <th>Period 2</th>
                        <th>Period 3</th>
                    </tr>
                    <tr>
                        <td>
                            <label for="period1-Thursday">Period 1:</label>
                            <select class="form-control form-control-lg" id="period1-Thursday" name="period1-Thursday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period1-Thursday-others-detail" name="period1-Thursday-others-detail" style="display: none;">
                            <br>
                        </td>
                        <td>
                            <label for="period2-Thursday">Period 2:</label>
                            <select class="form-control form-control-lg" id="period2-Thursday" name="period2-Thursday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period2-Thursday-others-detail" name="period2-Thursday-others-detail" style="display: none;">
                            <br>
                        </td>
                        <td>
                            <label for="period3-Thursday">Period 3:</label>
                            <select class="form-control form-control-lg" id="period3-Thursday" name="period3-Thursday">
                                <option value="yaja">Yaja</option>
                                <option value="dorm">Dorm</option>
                                <option value="afterschool">After School</option>
                                <option value="extraclass">Extra Class</option>
                                <option value="others">Others</option>
                            </select>
                            <input type="text" id="period3-Thursday-others-detail" name="period3-Thursday-others-detail" style="display: none;">
                            <br>
                        </td>
                    </tr>
                </table>

                <!-- Repeat similar structure for other days (Tuesday, Wednesday, Thursday) -->

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</div>
{% endblock %}

    <script src="../static/schedule.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
</body>
</html>